/* 1024해상도 태블릿 */
@media screen and (max-width: 1024px) {
  
    #product-overview {
      height: calc(50vh - 97px);
    }
  
    #plans .plan-wrapper {
      flex-direction: column;
      align-items: center;
      gap: 30px;
    }
    #plans .plan-wrapper .plan—highlighted {
      order: -1;
    }
    #plans .plan-wrapper .plan {
      width: 60%;
    }
    #plans .plan-wrapper .plan .plan__features {
      display: none;
    }
  }